
@{
    ViewBag.Title = "Master";
}

<h2>Master</h2>
<div>
    @Html.ActionLink("List of students", "Index", "Students")<br />
    @Html.ActionLink("List of Courses", "Index", "Courses")<br />
    @Html.ActionLink("List of enrollments", "Index", "Enrollments")
</div>

